  *{
    font-family: 'Baloo 2', cursive;
  }
body {
  color: #333333;
  margin-top: 5rem;
  background-image: url(https://i.imgur.com/PdGWsvz.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-color: #F5F5F5 !important;
  }

  .replyBackground{
    position: relative;
    
    box-shadow: 1px 1px 1px 1px rgb(116, 116, 116);
    margin: 7px 0px 7px 0px;
    background-color: white;


  }

  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 8px;
    width: 94%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
  }

  .active, .collapsible:hover {
    background-color: #555;
  }
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }

  

  .collapsibleContent {
    width: 94%;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    background-color: white;
  }


  .francis input{
    font-size: 20px;
    height: 40px;
    padding-top:6px;
    padding-bottom:6px;
    /* border: 1px solid grey */
  }

  .makeBigger{
    width: 700px;
   
  }
  
  /* .background-div{
    background-color:linen;
  } */
  .white{
    color: white;
  }
  .blue{
    color:  #428bca;
  }
 
  .francis{
    font-size: 18px;
    
  }
  .francis button{
    font-size: 18px;
    border: 2px solid rgb(19, 196, 209)

  }
  .underline{
    margin-top: 5px;
    text-decoration: underline;
    color: #428bca;
    font-size: 26px;
  }

  .biggerText{
    font-size: 25px;
  }
  .mediumText{
    font-size: 16px;

  }
 
  
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #000000;
    
  }
  
  #main-content, .row{
    max-width: 100%;
  }

  #sidebar{
    display: grid;
    margin-right: -40px;
  }
  
  .site-header .navbar-nav .nav-link {
    color: white;
    margin: 0 60px 0 0; 
    font-size: 20px;
  }

  .nav-link:hover{
  opacity:0.9;
  }



  .mr-auto{
    float: right !important;
  }
  

  #author {
    font-size: 18px;
    font-weight: 500;
  }
  
  .mr-4{
    background-color: #FF3D3F;
    font-size: 60px;
  }
  
  .mr-4:hover{
    background-color: rgb(209, 35, 44);
    font-size: 60px;
  }

  #logo{
    text-align: left;
    border-radius: 5px;
    font-size: 25px;
    position: absolute;
    left:18%;
  }

  .loggedIn {
    margin-left: 5px;
    margin-top: 2px;
    height: 15px;
    width: 15px;
    background-color:rgb(30, 175, 30);
    border-radius: 50%;
  }

  .loggedOut {
    margin-left: 5px;
    margin-top: 2px;
    height: 15px;
    width: 15px;
    background-color:rgb(196, 36, 36);
    border-radius: 50%;
  }

  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  .navbar{
    position:relative;
    height: 55px;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  
  .content-section {
    background: #F5F5F5 ;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin: 0;
    border: 1px solid black;
  }

  #navbar-container{
    width: 100% !important;
    max-width: 100% !important;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
    font-size: 16px;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }

  .right{
    float: right;
  }
  
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }


  .comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-box{
  display: flex !important;
  align-content: center !important;
  align-items: center;
  justify-content: center;
  width: 100%;
}



.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}

.wholePost{
  display:flex;
  flex-direction:left;
}

.popover {  
  max-width: 60% !important;
  width: 55% !important;
  height: 100% !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

.dateRight{
  position:absolute;
  right: 2%;
}



.flexMe{
  display: flex;
  flex-direction: left;
}


.posts {
  margin: 40px 0 40px 0 !important;
  box-shadow: 3px 3px 3px 3px rgb(116, 116, 116);
  border: solid black 1px;
  border-radius: 10px;
  position:relative;
}

.content-comment {
  background-color: black;
  padding-top: 0 !important;
  margin: 0 !important;
  padding: 5px 0;
  position:relative;
  width: 100% !important;
}
#add-post-container{
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  display:flex;
  flex-direction: left;
}
.post-input{
  width: 86%;
  height: 50px;  
  border-radius: 5px;
}

#post-add:hover{
  border: grey 1px solid;
}
#post-add{
  font-size: 22px;
}


.comment-input {
  border: white;
  border-radius: 5px;
  margin-top: 4px;
  margin-left: 3px;
  margin-right: 3px;
  width: 695px;
  height: 27px;
  border-radius: 6px;
}

.comment-date {
  float: right;
}

.send-btn {
  margin-right: 0 !important;
}

.content-header{
  text-align: left;
}

.comment-input:active{
  border-color: #428bca;
}

#profile-email{
  font-size: 20px;
  text-decoration: underline;  
}

.login_box{
  color: linen;
}

.profile-username{
  font-weight: 300;
}