  *{
    font-family: 'Baloo 2', cursive;
  }
body {
  color: #333333;
  margin-top: 5rem;
  background-image: url(https://i.imgur.com/PdGWsvz.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color:white !important;
  }

  .replyBackground {
    position: relative;
    box-shadow: 1px 1px 1px 1px rgba(158, 158, 158);
    margin: 7px 0px 7px 0px;
    background-color: white;
  }

  .collapsible {
    background-color:#00A7CD;
    color:  white;
    cursor: pointer;
    margin:0 0 5px 3px;
    width: 19%;
    height: 30px;
    font-size: 16px;
    border: solid rgb(19, 196, 209) 2px;
    border-radius: 5px;
    /* text-align: left; */
    /* margin: 0 auto !important; */
    /* align-content: center !important; */
    /* display: flex; */
    align-items: center;
    outline: none;
    float: left;
  }

  .whiter{
    color:linen;
  }
  .collapsible:after {
    content: '\002B';
    font-size:18px;
    font-weight: bold;
    float: right;
    /* margin-left: 5px; */
    /* border: none !important; */
  }

  .collapsible:hover{
    color: black;
  }

  .active:after {
    content: "\2212";
    font-size:18px;
    border: none !important;
  }

  .collapsibleContent {
    width: 94%;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f5f5f5;
  }

  .footer2 {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height:8%;
    z-index: -1;
    background-color: black;
    color: white;
    text-align: center;
 }


  .francis input{
    font-size: 20px;
    height: 40px;
    padding-top:6px;
    padding-bottom:6px;
    /* border: 1px solid grey */
  }

  .makeBigger{
    width: 700px;
   
  }
  
  /* .background-div{
    background-color:linen;
  } */
  .white{
    color: white;
  }
  .blue{
    color:  #428bca;
  }
 
  .francis{
    font-size: 18px;
    
  }
  .francis button{
    font-size: 18px;
    border: 2px solid rgb(19, 196, 209);

  }
  .underline{
    margin-top: 5px;
    text-decoration: underline;
    color: #428bca;
    font-size: 26px;
  }

  .biggerText{
    font-size: 25px;
  }
  .mediumText{
    font-size: 16px;

  }
 
  
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    width: 100%;
  }
  
  #main-content, .row{
    max-width: 100%;
  }

  #sidebar{
    display: grid;
    margin-right: -40px;
  }
  
  .site-header .navbar-nav .nav-link {
    color: white;
    margin: 0 60px 0 0; 
    font-size: 20px; 
  }

  .nav-link:hover{
  opacity:0.9;
  }

  .mr-auto{
    float: right !important;
  }
  

  #author {
    font-size: 18px;
    font-weight: 500;
  }
  
  .mr-4{
    background-color: #FF3D3F;
    font-size: 60px;
  }
  
  .mr-4:hover{
    background-color: rgb(209, 35, 44);
    font-size: 60px;
  }

  #logo{
    text-align: left;
    border-radius: 5px;
    font-size: 25px;
    position: absolute;
    left:18%;
  }

  .loggedIn {
    margin-left: 5px;
    margin-top: 2px;
    height: 15px;
    width: 15px;
    background-color:rgb(30, 175, 30);
    border-radius: 50%;
  }

  .loggedOut {
    margin-left: 5px;
    margin-top: 2px;
    height: 15px;
    width: 15px;
    background-color:rgb(196, 36, 36);
    border-radius: 50%;
  }

  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  .navbar{
    position:relative;
    height: 55px;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  
  .content-section {
    background: #F5F5F5 ;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin: 0;
    border: 1px solid black;
  }

  #navbar-container{
    width: 100% !important;
    max-width: 100% !important;
    height: 50px;
    margin-left: -12px;
    background-color: black;
    position: fixed;
    top:0;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
    font-size: 16px;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }

  .right{
    float: right;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3;
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }

 
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }


  .comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-box{
  display: flex !important;
  align-content: center !important;
  align-items: center;
  justify-content: center;
  width: 100%;
}



.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}

.wholePost{
  display:flex;
  flex-direction:left;
}

.post-delete-button{
  border-radius: 50%;
  margin-right: 2%;
}

.post-delete-button:hover .before{
  display: none;
}

.post-delete-button:hover:before{
  content: "Delete";
}

.post-delete-button:hover{
  border-radius: 10px;
  margin-left:100px;
  background-color: rgb(49, 176, 213);
  color: white;
  
}

.popover {  
  max-width: 60% !important;
  width: 55% !important;
  height: 100% !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

.dateRight{
  position:absolute;
  right: 2%;
}

.flexMe{
  display: flex;
  flex-direction: left;
}

.flexMeCenter{
  display: flex;
  flex-direction: center;
}

.posts {
  max-width: 700px;
  margin: 40px 0 40px 0 !important;
  box-shadow: 3px 3px 3px 3px rgba(116, 116, 116, 0.486);
  border: solid black 3px;
  border-radius: 10px;
  position:relative;
}

.content-comment {
  background-color: black;
  padding-top: 0 !important;
  margin: 0 !important;
  padding: 5px 0;
  position:relative;
  width: 100% !important;
}

#add-post-container{
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  display:flex;
  flex-direction: left;
}
.post-input{
  width: 86%;
  height: 50px;  
  border-radius: 5px;
}

#post-add:hover{
  border: grey 1px solid;
}
#post-add{
  font-size: 22px;
}

.images {
  margin-right: 15px;
  /* border: #000000 2px solid; */
  border-radius: 50%;
}

.comment-input {
  border: white;
  border-radius: 5px;
  margin-top: 4px;
  margin-left: 3px;
  margin-right: 3px;
  width: 695px;
  height: 27px;
  border-radius: 6px;
}

.comment-date {
  float: right;
}

.send-btn {
  margin-right: 0 !important;
}

.content-header{
  text-align: left;
}

.comment-input:active{
  /* border-color: #428bca; */
  background-color: #428bca;
}

#profile-email{
  font-size: 20px;
  text-decoration: underline;  
}

.login_box{
  color: linen;
}

.profile-username{
  font-weight: 300;
}

.center-user-status {
  display: flex;
  justify-content: center;
}

.about-container {
    Background: #F5F5F5 ;
    padding: 0 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin: 0 auto;
    border: 1px solid black;
    text-align: center;
    background-size: contain;
    height: nd00px;
    width: 100%;
    position: relative;
    z-index: -2;
    max-width: 800px;
}

.about-container-text {
  padding: 0 7%;
}

.img-crop {
  object-fit: cover;
  max-width: 60%;
  max-height: 60%;
} 

.z-index {
  position: relative;
  z-index: -2;
}

.fa {
  margin-left: 5px;
  font-size: 20px;
  cursor: pointer;
  user-select: none;
}

.fa-thumbs-down{
  margin-left: 30px;
  color:rgb(184, 53, 53);
  opacity: 0.8;
  border:none;
  background-color:transparent;
}
.fa-thumbs-up{
  color:rgb(37, 155, 53);
  opacity: 0.9;
  border:none;
  background-color:transparent;

}

.likeCount{
  font-size: 15px;
  
}

.like-buttons{
  display:flex;
  flex-direction:left;
}














.sidebar {
  height: 100%;
  width: 0;
  opacity: 0.9;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #161212;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #000000;
}

.sidebar .closebtn {
  position: absolute;
  top: 7%;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}
