{% extends 'blog/base.html' %}


{% block content%}

<!-- 700 px,  -->
<!-- Background: #F5F5F5 ;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin: 0;
    border: 1px solid black; -->

<div class="about-container">
    <div class="about-container-text">
        <h1 style="text-align: center; border-bottom: 1px solid #000; padding-bottom: 3px;">About Us</h1>
        <br>
        <p style="font-size: 18px;">A Growing Family of SEI/UIX Engineers</p>
        <br>
        <p style="font-size: 18px;"> We are a small team of grads from General Assembly specialized in full stack. </p>
        <br>
        <p style="font-size: 18px;">We as a team have grown much closer and we wanted to share this experience with people who are working remotely or just want to share their projects with a community who can appreciate their code to the fullest. </p>
        <br>
        <br>
        <img src="https://i.imgur.com/CXyYsXI.jpg" class="img-crop">
        <br>
        <br>
        <br>
        <br>
        <p style="font-size: 18px;">From GA with love</p>
    </div>
</div>

{% endblock content %}
  