{% extends 'blog/base.html' %}


{% block content%}

<!-- 700 px,  -->
<!-- Background: #F5F5F5 ;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin: 0;
    border: 1px solid black; -->

<div class="about-container">
    <h1 style="text-align: center;">About Us</h1>
    <p style="font-size: 18px;">A Growing Family of CS/UX Engineers</p>
    <br>
    <br>
    <p style="font-size: 18px;">
        We are a small team of grads from General Assembly specialized in full stack.
        Our mission is to give engineers the social platform they so desperately need to balance out the many
        hours spent working tirelessly. Through our endeavors, we as a team have grown much closer and we wanted 
        to share this with people who are working remotely or just want to share their projects with a community 
        who can appreciate their code to the fullest.
    </p>
    <br>
    <br>
    <br>
    <h4>We hope to bring our community closer and that you will be apart of it</h4>
    <br class="clear">
    <img src="https://i.imgur.com/px7Ytfy.jpg" style="max-width: 756px; max-height: 860px;">
</div>

{% endblock content %}