{% extends 'blog/base.html' %}
{% load static %}
{% load crispy_forms_tags%}


{% block status %}
<div>
{% if user.is_authenticated %}
<div class="center-user-status">
  <div class="loggedIn"></div></p>
  <p class='whiter'>{{user.username}}</p>
</div>
{%else%}
<div class="center-user-status">
  <div class="loggedOut"></div>
  <p class='whiter'>Not Logged In </p>
</div>
{%endif%}
</div>
{% endblock %}


{% block button %}
<button class="openbtn" onclick="openNav()">See Upcoming Events!</button>  
{% endblock %}


{% block content %}
<h1 style="text-align: center; color: white; font-weight: 600; font-size: 50px; margin-top: 0; padding-top: 0;">Home_Page</h1>

<form action="/post" method="POST" autocomplete="off">
  {% csrf_token %}
  <div id="add-post-container">
    <input class="post-input" type="text" name="post-input" placeholder="    whats on your mind ....">
    <input id="post-add" type="submit" value="Add Post" class="btn btn-info">
  </div>
</form>



<div id="mySidebar" class="sidebar">
  <div id="event-navbar" class="flex-event-navbar">
    <a class="event-navbar-text" id = "allEventsButton" href="#">Upcoming Events</a>
    <a class="event-navbar-text" id = "createEventButton" href="#">Create Event</a>
    <a href="javascript:void(0)" class="closebtn" class="event-navbar-text" onclick="closeNav()">×</a>
  </div>
  

  <div style="display: none" class = "content-section francis" id = "newEvent">

    <h1 align = "center">Give Us The Details!</h1>

    <form method = "POST" action = "new/event/" enctype = "multipart/form-data">
      
      {% csrf_token %}

      {{event_creation_form|crispy}}
      <div class = "form-group">
      <br><br>
      <button class = "btn btn-outline-info" type = "submit">Submit</button>
    </div>
  </form>


  </div>

  <div class = "allEvents content-section">

    <h1 class="event-name" align = "center" >All Registered Events!</h1>
    {% for event in events %}

    <div class="event-container">
    <h2 class="event-name">Event No.  </h2>
    <div class="event-content"> 
    <img src='{{event.photo.url}}' width="45" height="45" border-radius="10">
    <!-- <img class="images" src='{{post.author.profile.profile_pic.url}}' width="45" height="45" border-radius="10"> -->
    <p class="host">Host: {{event.host}}</p>
    <p class="host">Date: {{event.date}}</p>
    <p id="location">Location: {{event.location}}</p>
    <p id="description">Description: {{event.description}}</p>
    <p id="going">Going: {{event.num_attendees}}
      <form action="" method="POST">
        <button type="submit" id="going-btn" class="btn-outline-info" href="#">   Going</button>
      </form>
    </p>
    </div>
    </div>  

    {%endfor%}

  </div>
</div>




{% for post in posts %}


<div class="wholePost">

  <div class="posts">
    <article class="media content-section">
      <img class="images" src='{{post.author.profile.profile_pic.url}}' width="45" height="45" border-radius="10">

      <div class="media-body">
        <div class="article-metadata">
          <a id="author" class="mr-2" href="#">{{ post.author }}</a>
          <small class="text-muted">{{ post.date }}</small>
          {% if post.author.username == request.user.username%}
          <form class="right" action="post/delete/{{ post.id }}" method="POST">
            {% csrf_token %}

            <button class='post-delete-button' type="submit">
              <span class='before'>X</span>
            </button>
          </form>

          {%endif%}
        </div>
        <p class="article-content">{{ post.strContent }}</p>
        <br>
        <button class="collapsible">See Replys</button>
       
        <div class= "like-buttons">
        <form style="margin-left: 15px;"class = "flexMe" action="post/like/{{ post.id }}" method="POST">
          {% csrf_token %}

          <button type = "submit" class="fa fa-thumbs-up"></button>
          <p class="text-muted">{{post.num_likes}}</p>
        </form>
        <form class = "flexMe" action="post/dislike/{{ post.id }}" method="POST">
          {% csrf_token %}

          <button type = "submit" class="fa fa-thumbs-down"></button>
          <p class="text-muted">{{post.num_dislikes}}</p>
        </form>
        </div>

        <div class='collapsibleContent'>
          {% for comment in post.reply_set.all %}
          <div class="reply-content"><p class="dateRight"><span class="comment-date"><small class="text-muted"> {{ comment.date }}</small></span></div>
          <div class="flexMe replyBackground">
            <img class="images" src='{{comment.author.profile.profile_pic.url}}' width="30" height="30"
              border-radius="10" style="margin-left: 5px;">
            <p style="margin-left: 15px;"><span class="mr-3">{{ comment.author }}: </span>{{ comment.strContent }} 
            </p>
          </div>
          {% endfor %}
        </div>
      </div>
    </article>

    <form action="reply/post/{{ post.id }}" autocomplete="off" method="POST">
      {% csrf_token %}
      <div class="media content-comment">
        <div class="comment-box">
          <input type="text" class="comment-input" name="input-comment" placeholder="    add a reply ....">
          <input type="hidden" name="currentpath" value="{{ request.path }}">
          <button class="btn btn-info" type="submit">Send</button>
        </div>
        <!-- <div class="col-md-3 col-sm-2 col-2 pl-0 text-center send-btn"> -->
        <!-- </div> -->
      </div>
    </form>
  </div>


  <div class=" white-text" class="profile-wrapper">
    <div style="display: none" class="row login_box">
      <div class="col-md-12 col-xs-12" align="center">
        <div class="line">
          <h3 id="datetime"></h3>
        </div>
        <div class="outter"><img src="{{post.author.profile.profile_pic.url}}" class="image-circle" /></div>
        <h1 class="profile-username">{{post.author.username}}</h1>
        <br><br>
      </div>
      <div class="col-md-12 col-xs-12 login_control">
        <div class="control">
          <div class="label">Email Address</div>
          <input type="text" class="form-control" id="profile-email" value="{{post.author.email}}" />
        </div>
        <div align="center" class="margins">
          <button class="btn btn-orange inline">See Posts</button>
          <button class="btn btn-orange inline">Message</button>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>



{% endfor %}






<script>
  var dt = new Date();

  document.getElementById("datetime").innerHTML = dt.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
  images = document.querySelectorAll('.images');
  profileCards = document.querySelectorAll('.login_box');

  for (let i = 0; i < images.length; i++) {
    images[i].addEventListener('click', function () {
      if (profileCards[i].style.display === '') {

        profileCards[i].style.display = 'none';
      } else {
        profileCards[i].style.display = '';
      }
    })
  }



  var coll = document.getElementsByClassName("collapsible");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function () {
      this.classList.toggle("active");

      var content = this.nextElementSibling;
      content = content.nextElementSibling;
      // content = content.nextElementSibling;
      if (content.style.maxHeight) {
        content.style.maxHeight = null;
      } else {
        content.style.maxHeight = content.scrollHeight + "px";
      }
    });
  }


  function openNav() {
  document.getElementById("mySidebar").style.width = "40%";
  // document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  // document.getElementById("main").style.marginLeft= "0";
}


let eventForm = document.getElementById('newEvent')
let allEvents = document.getElementsByClassName('allEvents')
let sideBar = document.getElementById('mySidebar')

let allEventsButton = document.getElementById('allEventsButton')
let createEventButton = document.getElementById('createEventButton')

allEventsButton.addEventListener('click',function(){
  eventForm.style.display = "none";
  for(let i = 0; i<allEvents.length; i++){
    allEvents[i].style.display = "";
  }
 

})

createEventButton.addEventListener('click',function(){
  for(let i = 0; i<allEvents.length; i++){
    allEvents[i].style.display = "none";
  }
  eventForm.style.display = "";

  
})

// for(let i = 0; i<allEvents.length; i++){
//   allEvents[i].style.display = "none";
// }
// allEvents.style.display = "none";

// sideBar.innerHTML = allEvents;
// alert(sideBar)



</script>




{% endblock %}