
{%extends "blog/base.html" %}
{% load crispy_forms_tags%}

{% block content%}

<div class = "content-section francis makeBigger">
    <div class = "media">
        <img class = "rounded-circle account-img" src = "{{user.profile.profile_pic.url}}">
        <div class = "media-body">
            <h2 class = "account-heading"> {{user.username}} </h2>
            <p class = "text-secondary">{{user.email}}</p>
        </div>
    </div>

    <form method = "POST" class ="editForm" enctype = "multipart/form-data">
        {%csrf_token%}
        <fieldset class = "form-group">
            <legend class = "border-bottom underline">Edit Info</legend>
            <br>
            {{user_edit_form|crispy}}
            {{profile_edit_form|crispy}}
        </fieldset>
        <br>
        <div class = "form-group">
            <button class = "btn btn-outline-info" type = "submit">Submit</button>
        </div>
        <br>
        <br>
        <br>
    </form>

</div>

{%endblock content%}